@charset "UTF-8";
    
h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #8f102e;
    margin: 10%;
    justify-content: flex-end;
   
}

h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #8f102e;
    margin: 10%;
}

fieldset{
    border: 0;
    color: #aad6e2;
}

h3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #8f102e;
    margin: 10%;
}

body{
    background-color: rgb(38, 77, 77);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    color:#8f102e;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}